@import "styles/vars";

.hero {
  position: relative;
  height: calc(100vh - $header-height);
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 631px;
    height: 458px;
    background: $green-color;
    filter: blur(200px);
    z-index: -1;
  }
}

.title {
  font-family: $secondary-family;
  font-size: 64px;
  font-weight: 500;
  line-height: 120%;
}

.descr {
  line-height: 160%;
  margin-top: 20px;
}

.content {
  grid-column: 5 span;
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 36px;
  margin-top: 40px;
}

.stats {
  display: flex;
  align-items: center;
  column-gap: 96px;
  margin-top: 72px;
}

.heroBlock {
  position: relative;
  grid-column: 8 / 5 span;
}

.heroImg {
  border-radius: 24px;
}

.artwork {
  position: absolute;
  left: -60px;
  top: 40%
}

.card {
  position: absolute;
  bottom: -70px;
  right: 0;
  width: 304px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardItem {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.cardTitle {
  color: $primary-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}


