@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/InterRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/InterBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Canela';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/CanelaMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/SourceSansProBold.woff2') format('woff2');
}
