// Colors
$primary-color: #d6ef0e;
$secondary-color: #1e1e1e;
$light-color: #fffffd;
$blue-color: #131e3a;
$green-color: #1F413D;
$gray-color: #838382;

// Fonts
$main-family: "Inter", sans-serif;
$secondary-family: "Canela", serif;
$third-family: "SourceSansPro", sans-serif;

// Sizes
$header-height: 104px;
$container-width: 1310px;
$offset: 30px;
