@import 'styles/vars';

.button {
  font-family: $main-family;
  border-radius: 8px;
  padding: 12px 40px;
  font-weight: 700;
  line-height: 120%;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border: 1px solid transparent;
  font-size: 16px;
}

.primary {
  background-color: $primary-color;
  color: $light-color;


  &:hover {
    background-color: $blue-color;
    color: $primary-color;
    border-color: $primary-color;
  }
}

.secondary {
  background-color: $blue-color;
  border: 1px solid $primary-color;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $light-color;
  }
}
