@import "styles/vars";

.stat {
  padding-right: 28px;
  border-right: 1px solid $primary-color;
}

.count {
  font-family: $secondary-family;
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
}

.title {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  margin-top: 8px;
}
